

.App {
  text-align: center;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.search-bar{
  width: 30%;
  height: 20%;
  border: none;
  color: black;
  background:white;
  padding : .5rem;
}

.search-button{
  background: lightcoral;
  border: none;
  color: white;
  padding : .5rem;
}

.heading{
  font-family: 'Lacquer', sans-serif;
  font-size: 5rem;
  padding :0.5rem;
}

.dishname{
  font-family: 'Lacquer', sans-serif;
  font-size: 3.5rem;
  padding :0.5rem;
}
.search-form{
  padding: 3rem;
}
.card{
  background-color: darkcyan;
  color: white;
}
.blockquote-footer{
  color:rgb(143, 250, 241);
}
.recipeitem{
  padding: 1rem;
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;

}

.ingr{
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.t1{
  font-family: 'Russo One', sans-serif;
  font-size: 3rem;
  padding: 1rem;
}
.t2{
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}